@CHARSET "UTF-8";
			body{
				margin: 0px;
				padding: 0px;
				background-image: url(../images/loginBackgroung.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #FFFEEF;
			}
/*--------------整体 DIV-----------------------------------------*/
			#start{
				width: 100%;
			}
/*--------------标题行****退出登录    DIV-----------------------------------------*/
			/*标题_导航_退出登录   整体DIV*/
			#head{
				height: 30px;
				width: 100%;
				background-color: white;
				margin-bottom:4px ;
			}
			/*-- 标题**导航部分  --*/
			#head_text{
				line-height: 30px;
				width: 290px;
				margin-left: 5%;
				font-weight: bold;
				font-size: 18px;
				font-family:"Times New Roman",Georgia,Serif;
				color: #888888;
				float: left;
			}
			/*-- 标题**导航部分  中的超链接跳转  --*/
			#head_text a{
				line-height: 30px;
				font-size: 14px;
				color: #A9A9A9;
				text-decoration: none;
				line-height: ;
			}
			#head_text a:hover{
				color: red;
				cursor: hand;
			}
/*----------------用户登录 -div--------------*/
			#userDiv{
				height: 28px;
				width: 160px;
				border: 2px solid #DDDDDD;
				margin-right: 5%;
				float: right;
				border-radius: 6px;
				box-shadow: 1px 2px 10px 2px #E6E6E6;
				position: relative;
			}
			/*退出登录 	内部字体的样式*/
			#userFont{
				line-height: 28px;
				margin-left: 14px;
				font-size: 16px;
				font-weight: bold;
				color: #888888;
				font-family: arial;
			}
			#usernameFont{
				font-size: 14px;
			}
			
			/*
			 * 隐藏 的DIV 块
			 * */
			#userFuncDiv{
				width: 160px;
				height: 200px;
				position: absolute;
				visibility: hidden;
				background-color: whitesmoke;
				border: 2px solid #FFFEEF;
				border-radius: 10px;
				box-shadow: 3px 1px 6px 2px #DDDDDD inset;
			}
			/* 显示div块*/
			#userDiv:hover #userFuncDiv{
				visibility: visible;
			}
			/*
			 *头像框
			 */
			#photoDiv{
				width: 80px;
				height:80px;
				margin: 0 auto;
				border: 2px solid #DDDDDD;
				border-radius: 40px;
				margin-top: 20px;
				background-image: url(../images/LoginJPG.jpg);	
			}
			#exitDiv p{
				width: 160px;
			}
			.textP{
				font-size: 12px;
				text-align: center;
				color: #A9A9A9;
			}
			/*退出功能	超链接*/
			#exitA{
				text-decoration: none;
			}
			#exitA:hover{
				font-size: 16px;
				color: red;
			}
	/*-----------表格部分-------------*/
			#main{
				width: 90%;
				height: 200px;
				margin: 0px auto;
				margin-top: 50px;
			}
			/*表格*/
			#main_table{
				width: 90%;
				height: 86px;
				margin: 0px auto;
				padding-top: 2px;
				border: 1px solid #A9A9A9;
				border-radius: 10px;
			}
			/*第一行*/
			.table_tr{
				line-height: 32px;
				height: 32px;
				text-align: center;
				color: #888888;
				border: 1px solid #A9A9A9;
			}
			/*第一列*/
			.title_tr_td{
				width: 25%;
				text-align: right;
			}
			/*输入框*/
			.text_input{
				width: 95%;
				border: 1px solid #A9A9A9;
				border-radius: 8px;
				height: 24px;
			}
			/* 错误行提示 */
			.err_tr{
				height: 14px;
			}
			.err_name{
				font-size:10px;
				padding-left: 27%;
			}
			/*表格 -表尾的 div*/
			#func_button_div{
				width: 230px;
				height: 30px;
				padding-top: 2px;
				margin: 0px auto;
			}
			/* 表格 -表尾中的 button */
			.func_button{
				width: 60px;
				height: 24px;
				margin-right: 10px;
				border: none;
				border-radius: 12px;
				color: #888888;
				font-size: 12px;
			}
			.func_button:hover{
				box-shadow: 2px 2px 6px #A9A9A9;
			}
			.err_row{
				font-size:14px;
				text-align:center;
				height:20px;
			}
			