@CHARSET "UTF-8";
			body{
				margin: 0px;
				padding: 0px;
				background-image: url(../images/loginBackgroung.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #FFFEEF;
			}
			#start{
				width: 100%;
				margin: 0px;
				padding: 0px;
			}
			/*--------------标题行****退出登录    DIV-----------------------------------------*/
			/*标题_导航_退出登录   整体DIV*/
			#head{
				height: 30px;
				width: 100%;
				background-color: white;
				margin-bottom:4px ;
			}
			/*-- 标题**导航部分  --*/
			#head_text{
				line-height: 30px;
				width: 300px;
				margin-left: 5%;
				font-weight: bold;
				font-size: 18px;
				font-family:"Times New Roman",Georgia,Serif;
				color: #888888;
				float: left;
			}
			/*-- 标题**导航部分  中的超链接跳转  --*/
			#head_text a{
				line-height: 30px;
				font-size: 14px;
				color: #A9A9A9;
				text-decoration: none;
				line-height: ;
			}
			#head_text a:hover{
				color: red;
				cursor: hand;
			}
/*----------------用户登录 ---------------div*/
			#userDiv{
				height: 28px;
				width: 160px;
				border: 2px solid #DDDDDD;
				margin-right: 5%;
				float: right;
				border-radius: 6px;
				box-shadow: 1px 2px 10px 2px #E6E6E6;
				
				position: relative;
			}
			/*退出登录 	内部字体的样式*/
			#userFont{
				line-height: 28px;
				margin-left: 14px;
				font-size: 16px;
				font-weight: bold;
				color: #888888;
				font-family: arial;
			}
			#usernameFont{
				font-size: 14px;
			}
			
			/*
			 * 隐藏 的DIV 块
			 * */
			#userFuncDiv{
				width: 160px;
				height: 200px;
				position: absolute;
				visibility: hidden;
				background-color: whitesmoke;
				border: 2px solid #FFFEEF;
				border-radius: 10px;
				box-shadow: 3px 1px 6px 2px #DDDDDD inset;
				
			}
			/* 显示div块*/
			#userDiv:hover #userFuncDiv{
				visibility: visible;
			}
			/*
			 *头像框
			 */
			#photoDiv{
				width: 80px;
				height:80px;
				margin: 0 auto;
				border: 2px solid #DDDDDD;
				border-radius: 40px;
				margin-top: 20px;
				background-image: url(../images/LoginJPG.jpg);
				
			}
			#exitDiv p{
				width: 160px;
			}
			.textP{
				font-size: 12px;
				text-align: center;
				color: #A9A9A9;
			}
			/*退出功能	超链接*/
			#exitA{
				text-decoration: none;
			}
			#exitA:hover{
				color: red;
			}
	/*--------------表格部分-----------------*/
			#main{
				width: 90%;
				height: 384px;
				margin: 0px auto;
				margin-top: 10px;
			}
			#dataDiv{
				width: 90%;
				height: 340px;
				border: 1px solid #A9A9A9;
				border-radius: 10px;
				margin: 0 auto;
			}
			
			
			/*查询条件div*/
			#searchCondiTionDiv{
				width: 100%;
				margin-top: 30px;
				margin-bottom: 10px;
				overflow: auto;
			}
			/* 表格 -表尾中的 button */
			.func_button{
				width: 60px;
				height: 24px;
				margin-right: 10px;
				border: none;
				border-radius: 12px;
				color: #888888;
				font-size: 12px;

			}
			/*按钮的 div*/
			#func_button_div{
				width: 150px;
				height: 28px;
				padding-top: 6px;
				margin: 0px auto;
			}
			.func_button:hover{
				box-shadow: 1px 2px 5px 1px #A9A9A9;
			}
			/*局部*/
			.partSearchDiv{
				width: 800px;
				height: 30px;
				padding-top: 10px;
				margin: 0px auto;
			}
			.partSearchDivName{
				width: 180px;
				height: 30px;
				float: left;
				font-size: 14px;
				color: #999999;
				line-height: 30px;
				text-align: right;
			}
			.partSearchDivValue{
				width: 600px;
				height: 30px;
				float: right;
				font-size: 14px;
				color: #999999;
				line-height: 30px;
				text-align: left;
			}
			.partSearchDivValueInpt{
				width: 80%;
				height: 22px;
				border-radius: 6px;
			}
			.partSearchDivValueInptPrice{
				width: 60px;
				height: 22px;
				border-radius: 6px;
			}
			.partSearchDivValueSel{
				width: 100px;
				height: 24px;
				border-radius: 6px;
			}
			.partSearchDivValueSelOp{
				text-align: center;
				font-size: 14pxs;
				color: #999999;
			}
			